.nomdepage {
    width: 375px;
    height: 440px;

}

.modeemploi {
    width: 375px;
    height: 440px;
    top: 400px;
}



ul li ol {

    display: flex;
    list-style: none;
}

a {
    display: flex;
    text-decoration: none;
    color: black;
}

h3 {

    text-decoration: none;
    color: black;
}

p {
    list-style: none;
}
