// Colors
$black: #000;
$grey: #353535;
$primary: #9356dc;
$secondary: #ff79da;
$silver: #eaeaea;
$ternary: #99e2d0;
$white: #fff;

// Fonts
$cursive: Shrikhand, cursive;
$sans-serif: Roboto, sans-serif;
